[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
graphene = "*"
django-crontab = "*"
mysqlclient = "*"
graphene-django-extras = "*"
graphene-django = "*"
django-annoying = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
