{% extends 'base/adminBase.html' %}
{% load myfilters %}
{% load static %}
{% load i18n %} 

{% block "content" %}
	
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			{% comment %} <ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Extra</a></li>
				<li class="active">Search Results</li>
			</ol> {% endcomment %}
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Actualités de la #FAP <small>...</small></h1>
			<!-- end page-header -->
			
            <div id="options" class="m-b-10">
                <a href="{% url 'adminApp:write' %}" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i> Ecris un nouvel article
                </a>
            </div>

			<!-- begin row -->
			<div class="row">
			    <!-- begin col-12 -->
			    <div class="col-md-12">
			        <div class="result-container">
                        <br>
                        <ul class="result-list">
                            
                            {% for actualite in actualites %}
                                <li>
                                    <div class="result-image text-center">
                                        <i class="fa fa-file fa-5x" ></i>
                                    </div>
                                    <div class="result-info">
                                        <h4 class="title"><a href="javascript:;">{{actualite.titre}}</a></h4>
                                        <p class="location">{{actualite.auteur}} - {{actualite.created_at}} </p>
                                        <p class="desc">
                                            {{actualite.code|striptags|truncatewords:100}} ...
                                        </p>
                                    </div>
                                    <div class="result-price">
                                        <small>Diffusé du <br> {{actualite.debut}} au {{actualite.fin}}</small>
                                        <a href="{% url 'adminApp:actualite' actualite.id %}" class="btn btn-inverse btn-block">Modifier l'article</a>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
			    </div>
			    <!-- end col-12 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->


        <div class="modal fade" id="modal-add-type" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ajout d'une nouvelle catégorie de galerie</h4>
                    </div>
                    <form method="POST" class="formShamman" classname="CategorieForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <label>{% translate "Nom de la catégorie" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" value="{{element.id}}" name="id">
                            <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% for element in categories %}
            <div class="modal fade" id="modal-update-type-{{element.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier la catégorie</h4>
                        </div>
                        <form method="POST" class="formShamman" classname="CategorieForm">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>{% translate "Nom de la catégorie" %} </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" value="{{element.id}}" name="id">
                                <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}



        <div class="modal fade" id="modal-add-produit" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ajout d'un nouveau produit</h4>
                    </div>
                    <form method="POST" class="formShamman" classname="ProduitForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% translate "Nom de la catégorie" %} </label>
                                    <div class="form-group">
                                        {% include 'extra/select.html' with name='categorie' instances=categories  %}   
                                    </div>
                                </div>    
                                <div class="col-sm-6">
                                    <label>{% translate "Nom du produit" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                    </div>
                                </div>                  
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>{% translate "Prix" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.price}}" name="price" required>
                                    </div>
                                </div>    
                                <div class="col-sm-7">
                                    <label>{% translate "Description" %} </label>
                                    <textarea class="form-control" rows="4" name="description"></textarea>
                                </div>              
                            </div><br>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image1">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 1" %}</button>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image2">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 2" %}</button>
                                    </div>
                                </div>       <br>       
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image3">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 3" %}</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image4">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 4" %}</button>
                                    </div>
                                </div>
                            </div><br>
                            
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" value="{{element.id}}" name="id">
                            <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        {% for element in produits %}
        <div class="modal fade" id="modal-update-produit-{{element.id}}" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modification de l'oeuvre</h4>
                    </div>
                    <form method="POST" class="formShamman" classname="ProduitForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% translate "Nom de la catégorie" %} </label>
                                    <div class="form-group">
                                        {% include 'extra/select.html' with obj=element.categorie name='categorie' instances=categories  %}   
                                    </div>
                                </div>    
                                <div class="col-sm-6">
                                    <label>{% translate "Nom de l'article" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                    </div>
                                </div>                  
                            </div><br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>{% translate "Prix" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.price}}" name="price" required>
                                    </div>
                                </div>    
                                <div class="col-sm-7">
                                    <label>{% translate "Description" %} </label>
                                    <textarea class="form-control" rows="4" name="description">{{element.description}}</textarea>
                                </div>              
                            </div><br>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image1.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image1">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 1" %}</button>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image2.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image2">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 2" %}</button>
                                    </div>
                                </div>  
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image3.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image3">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 3" %}</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image4.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image4">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 4" %}</button>
                                    </div>
                                </div>
                            </div><br>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" value="{{element.id}}" name="id">
                            <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

        <style>
            .bouton{
                width: 100px;
                height: 100px;
                font-size: 50px;
                padding-top: 15px;
                border-radius: 10px;
                margin: 10px 0 0 10px;
                cursor: pointer;
            }
        </style>

{% endblock "content" %}


{% block "scriptjs" %}
    <script>
        $(document).ready(function() {
            Gallery.init();
    
        });
    </script>
{% endblock "scriptjs" %}