{% extends 'base/adminBase.html' %}
{% load myfilters %}
{% load static %}
{% load i18n %} 

{% block "content" %}
        <script src="https://js.stripe.com/v3/"></script>
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			{% comment %} <ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li class="active">Gallery</li>
			</ol> {% endcomment %}
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Articles de la boutique <small>Toutes vos articles...</small></h1>
			<!-- end page-header -->
			
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a href="#show-all" class="btn btn-default btn-sm active" data-option-value="*">
                        Voir Tous
                    </a>
                    {% for categorie in categories %}
                        <div class="btn-group">
                            <a href="#{{categorie.id}}" type="button" class="btn btn-default btn-sm" data-option-value=".{{categorie.id}}">{{categorie.name}}</a>
                            <button type="button" onclick="delete_password('categorie', '{{categorie.id}}')" class="btn btn-danger btn-xs" style="margin-left: -5px;"><i class="fa fa-close"></i></button>
                            <button type="button" data-toggle="modal" data-target="#modal-update-type-{{categorie.id}}" class="btn btn-primary btn-xs" style="margin-left: -5px;"><i class="fa fa-pencil"></i></button>
                        </div>
                    {% endfor %}
                   

                    <button data-toggle="modal" data-target="#modal-add-type" class="btn btn-success btn-sm pull-right">
                        <i class="fa fa-plus"></i> Ajouter une catégorie
                    </button>
                </span>
            </div>
            <div id="gallery" class="gallery">

                {% for produit in produits %}
                    <div class="image {{produit.categorie.id}}">
                        <div class="image-inner">
                            <a href="{{produit.image1.url}}" data-lightbox="{{produit.categorie.id}}">
                                <img src="{{produit.image1.url}}" style="height: 200px" alt="" />
                            </a>
                            <p class="image-caption">
                                #{{produit.categorie.name}}
                            </p>
                        </div>
                        <div class="image-info">
                            <div class="row m-a-3">
                                <div class="col-xs-6">
                                    <a href="{{produit.image2.url}}" data-lightbox="{{produit.categorie.id}}">
                                        <img src="{{produit.image2.url}}" style="height: 90px" alt="" />
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="{{produit.image3.url}}" data-lightbox="{{produit.categorie.id}}">
                                        <img src="{{produit.image3.url}}" style="height: 90px" alt="" />
                                    </a>
                                </div>
                            </div><br>

                            <h5 class="title m-b-0">{{produit.name}}</h5>
                            <p class="">{{produit.price}} $</p><br>
                            <div class="desc">{{produit.description}}</div>
                            <br>
                            <div class="text-right">
                                <div class="btn-group">
                                    <button type="button" onclick="delete_password('produit', '{{produit.id}}')" class="btn btn-danger btn-sm"><i class="fa fa-close"></i></button>
                                    <a href="{% url 'adminApp:update_produit' produit.id %}">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="image {% for produit in produits %}{{produit.categorie.id}} {% endfor %} *">
                    <a href="{% url 'adminApp:new' %}">
                        <div class="bouton btn btn-default text-center">
                            <i class="fa fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>
		</div>
		<!-- end #content -->




        <div class="modal fade" id="modal-add-type" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ajout d'une nouvelle catégorie de galerie</h4>
                    </div>
                    <form method="POST" class="formShamman" classname="CategorieForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <label>{% translate "Nom de la catégorie" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" value="{{element.id}}" name="id">
                            <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% for element in categories %}
            <div class="modal fade" id="modal-update-type-{{element.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier la catégorie</h4>
                        </div>
                        <form method="POST" class="formShamman" classname="CategorieForm">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>{% translate "Nom de la catégorie" %} </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" value="{{element.id}}" name="id">
                                <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}



        <div class="modal fade" id="modal-add-produit" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ajout d'un nouveau produit</h4>
                    </div>
                    <form method="POST" class="formShamman" classname="ProduitForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% translate "Nom de la catégorie" %} </label>
                                    <div class="form-group">
                                        {% include 'extra/select.html' with name='categorie' instances=categories  %}   
                                    </div>
                                </div>    
                                <div class="col-sm-6">
                                    <label>{% translate "Nom du produit" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.name}}" name="name" required>
                                    </div>
                                </div>                  
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>{% translate "Prix" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{element.price}}" name="price" required>
                                    </div>
                                </div>    
                                <div class="col-sm-7">
                                    <label>{% translate "Description" %} </label>
                                    <textarea class="form-control" rows="4" name="description"></textarea>
                                </div>              
                            </div><br>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image1">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 1" %}</button>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image2">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 2" %}</button>
                                    </div>
                                </div>       <br>       
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image3">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 3" %}</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <img style="height: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image4">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Image 4" %}</button>
                                    </div>
                                </div>
                            </div><br>
                            
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" value="{{element.id}}" name="id">
                            <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modal-payement-produit" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modification de l'oeuvre</h4>
                    </div>
                        <div class="modal-body">
                            <form id="payment-form">
                                <div class="form-group">
                                    <label for="card-element">Numéro de carte</label>
                                    <div id="card-element"></div>
                                </div>
                                <button type="submit">Valider le payement</button>
                                <div id="card-errors" role="alert"></div>
                            </form>   
                            
                            <div id="card-errors" role="alert"></div>
                        </div>
                </div>
            </div>
        </div>




        <style>
            .bouton{
                width: 100px;
                height: 100px;
                font-size: 50px;
                padding-top: 15px;
                border-radius: 10px;
                margin: 10px 0 0 10px;
                cursor: pointer;
            }
        </style>

{% endblock "content" %}


{% block "scriptjs" %}
    <script>

        function stripeTokenHandler(token){
            var formdata = new FormData();
            formdata.append('token', token);
            formdata.append('amount', 21600);
            url = "/admin/boutique/article/payement/stripeTokenHandler/";
            $.post({ url: url, data: formdata, contentType: false, processData: false }, function (data) {
                if (data.status) {
                    alert("c'est ok !!!!");
                    console.log(data);
                }else {
                    Alerter.error('Erreur !', data.message);
                }
            }, 'json')
        }

        $(document).ready(function() {
            Gallery.init();

            var stripe = Stripe('pk_test_51O11ddBltzuPBBd1X8q9wf5sn0YLWqMxNEjht3ww86A3yj6KSuaJjAJCeRS9g2BVkelTbdGZU44ljVLx45gXxhQm00tbRPF5Np');
            var elements = stripe.elements();
            var cardElement = elements.create('card');
            cardElement.mount('#card-element');

            $("#modal-payement-produit").modal()

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                stripe.createToken(cardElement).then(function(result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        console.log(result.token.id);
                        stripeTokenHandler(result.token.id);
                    }
                });
            });
    
        });
    </script>
{% endblock "scriptjs" %}