{% extends 'base/adminBase.html' %}
{% load myfilters %}
{% load static %}
{% load i18n %} 

{% block "content" %}
	
				<!-- begin #content -->
                <div id="content" class="content">
                    <!-- begin breadcrumb -->
                    {% comment %} <ol class="breadcrumb pull-right">
                        <li><a href="javascript:;">Home</a></li>
                        <li><a href="javascript:;">Form Stuff</a></li>
                        <li class="active">Summernote</li>
                    </ol> {% endcomment %}
                    <!-- end breadcrumb -->
                    <!-- begin page-header -->
                    <h1 class="page-header">Rédaction d'articles <small>...</small></h1>
                    <!-- end page-header -->
                    <br>
                    <!-- begin row -->
                    <form method="POST" id="summer" class="formShamman" classname="ActualiteForm">
                        {% csrf_token %}
                        <div class="row">
                            <!-- begin col-10 -->
                            <div class="col-md-9">
                                <div class="panel panel-inverse m-b-0">
                                    <div class="panel-heading">
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                        <h4 class="panel-title">Rédigez votre article ici - Ce que vous voyez sera le resultat obtenu !</h4>
                                    </div>
                                    <div class="panel-body p-0">
                                        <form action="" method="POST" name="summernote_form">
                                            <textarea class="summernote" name="code"></textarea>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-10 -->
                            <!-- begin col-2 -->
                            <div class="col-md-3">
                                <div class="">
                                    <label>{% translate "Titre de l'article" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="titre">
                                    </div>
                                </div> <br>
                                <div class="">
                                    <label>{% translate "Sous-titre de l'article" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="soustitre">
                                    </div>
                                </div> <br>
                                <div class="">
                                    <label>{% translate "Auteur" %} </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="auteur">
                                    </div>
                                </div> <br>
                                <div class="">
                                    <label>{% translate "Date de debut de publication de l'article" %} </label>
                                    <div class="form-group">
                                        <input type="datetime-local" class="form-control" name="debut">
                                    </div>
                                </div> <br>
                                <div class="">
                                    <label>{% translate "Date de fin de publication de l'article" %} </label>
                                    <div class="form-group">
                                        <input type="datetime-local" class="form-control" name="fin">
                                    </div>
                                </div> <br>
                                <div class="">
                                    <label>{% translate "Photo d'illustration" %} </label>
                                    <div class="">
                                        <img style="width: 100px;" src="{{element.image.url}}" class="img-thumbnail logo">
                                        <input class="hide" type="file" name="image">
                                        <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i></button>
                                    </div>
                                </div> <br><br>
                                <div class="text-right">
                                    <button class="btn dim btn-primary"><i class="fa fa-refresh"></i> {% translate "Valider le formulaire" %}</button>
                                </div>
                            </div>
                            <!-- end col-2 -->
                        </div>
                    </form>
                    <!-- end row -->
                </form>
                <!-- end #content -->

{% endblock "content" %}


{% block "scriptjs" %}
    <script>
        $(document).ready(function() {
            FormSummernote.init(); 
            
        });
    </script>
{% endblock "scriptjs" %}