{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container"> 
         <h2 class="fables-page-title fables-second-border-color">Gallery Timeline</h2>
    </div>
</div>  
<!-- /End Header -->
     
<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container"> 
        <nav aria-label="breadcrumb">
          <ol class="fables-breadcrumb breadcrumb px-0 py-3">
            <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li> 
            <li class="breadcrumb-item active" aria-current="page">Gallery Timeline </li>
          </ol>
        </nav> 
    </div>
</div>
<!-- /End Breadcrumbs -->
<div class="container">
    <div class="my-4 my-md-5 overflow-hidden">
       
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="1s">
            <h2 class="font-35 font-weight-bold fables-second-text-color ">Au programme de...</h2>
            <h1 class="font-weight-bold fables-main-text-color display-3">cette 1<sup><small>re</small></sup> édition</h1> 
        </div> 
            
        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="fables-about-icon-style"> 
                    <span class="fables-iconmobileApp-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Mobile Apps </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>

                </div>
            </div>  
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
               <div class="fables-about-icon-style">
                   <span class="fables-icondevelopment-icon fables-second-text-color fa-3x"></span>
                   <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Development</h2>
                   <span class="fables-title-border fables-second-background-color"></span>
                   <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
               <div class="fables-about-icon-style"> 
                    <span class="fables-iconwebDesign-icon fables-second-text-color fa-3x"></span>
                   <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Web Design </h2>
                   <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- Start page content -->  
<div class="container"> 
   <div class="timeline multi-event-timeline">
      <span class="fables-second-background-color line"></span>
      
      <ul class="timeline-items"> 
        <h2 class="fables-second-background-color date-circle">2010</h2>
        <li class="is-hidden timeline-item">
              <span class="gallery-mlti-date">15 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style"> 
                 <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a> 
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
         
      </ul>

      <ul class="timeline-items"> 
      <h2 class="fables-second-background-color date-circle">2012</h2>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
      </ul>
      <ul class="timeline-items"> 
      <h2 class="fables-second-background-color date-circle">2014</h2>
        <li class="is-hidden timeline-item">
              <span class="gallery-mlti-date">15 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1>  
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
      </ul>

      <ul class="timeline-items"> 
      <h2 class="fables-second-background-color date-circle">2016</h2>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> NOV</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1>  
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
      </ul>
      <ul class="timeline-items"> 
      <h2 class="fables-second-background-color date-circle">2020</h2>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> sep</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <a href="#"><img src="{% static 'assets/custom/images/gallery2-timeline.jpg' %}" alt="" class="img-fluid fables-blog-img"></a>
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li>
        <li class="is-hidden timeline-item">
             <span class="gallery-mlti-date">16 <br> sep</span>
              <div class="fables-blog-cat-block blog-grid-style">  
                  <h1 class="font-15 semi-font mx-3 mt-3"><a href="#" class="fables-second-text-color fables-main-hover-color">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </a></h1> 
                  <p class="fables-forth-text-color font-13 m-3">
                     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                  </p>

             </div>
        </li> 
      </ul>


    </div>


</div>   
<!-- /End page content -->
{% endblock "body" %}