{% extends 'base/vitrineBase.html' %}
{% load static %}



{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container"> 
         <h2 class="fables-page-title fables-second-border-color">Gallery Timeline</h2>
    </div>
</div>  
<!-- /End Header -->
     
<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container"> 
        <nav aria-label="breadcrumb">
          <ol class="fables-breadcrumb breadcrumb px-0 py-3">
            <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li> 
            <li class="breadcrumb-item active" aria-current="page">Gallery Timeline </li>
          </ol>
        </nav> 
    </div>
</div>
<!-- /End Breadcrumbs -->


<div class="container">
  <div class="row mt-4 mt-lg-5"> 
       <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-5"> 
           <div class="image-container zoomOut-effect">
              <a href="#"><img src="{% static 'assets/custom/images/business-support.jpg' %}" alt="image alt text" class="w-100"></a>
           </div>
           <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2>
           <div class="fables-forth-text-color font-14 mb-2">                                  
               <span class="fables-icondata fables-second-text-color mr-1"></span> 
               <span class="mr-3"> 09 November, 2018 </span>
               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
           </div>
           <p class="fables-forth-text-color font-14 mb-3">
               When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you will go the easy way .
           </p>
           <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus...</a>  

       </div>
       <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-5"> 
               <div class="owl-carousel owl-theme default-carousel absolute-dots nav-0"> 
                   <div class="image-container zoomOut-effect">file:///home/aristide/T%C3%A9l%C3%A9chargements/fables/fables-master/about1.html

                       <a href="#">
                         <img src="{% static 'assets/custom/images/cat-larg1.jpg' %}" alt="" class="w-100">
                       </a>
                   </div>
                   <div class="image-container zoomOut-effect">
                       <a href="#">
                         <img src="{% static 'assets/custom/images/cat-larg2.jpg' %}" alt="" class="w-100">
                       </a>
                   </div>
                   <div class="image-container zoomOut-effect">
                       <a href="#">
                         <img src="{% static 'assets/custom/images/cat-larg3.jpg' %}" alt="" class="w-100">
                       </a>
                   </div>   
               </div>

               <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2>
               <div class="fables-forth-text-color font-14 mb-2">                                  
                   <span class="fables-icondata fables-second-text-color mr-1"></span> 
                   <span class="mr-3"> 09 November, 2018 </span>
                   <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                   <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
               </div>
               <p class="fables-forth-text-color font-14 mb-3">
                   When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you will go the easy way .
               </p>
               <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus...</a>  

       </div>
       <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-5"> 
             <div class="image-container zoomOut-effect">
                 <a href="#"><img src="{% static 'assets/custom/images/cat-larg3.jpg' %}" alt="" class="w-100"></a>
             </div>
            
           <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2>
           <div class="fables-forth-text-color font-14 mb-2">                                  
               <span class="fables-icondata fables-second-text-color mr-1"></span> 
               <span class="mr-3"> 09 November, 2018 </span>
               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
           </div>
           <p class="fables-forth-text-color font-14 mb-3">
               When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you will go the easy way .
           </p>
           <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus...</a>

       </div>
       <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-5"> 
            <div class="image-container zoomOut-effect">
                <a href="#"><img src="{% static 'assets/custom/images/cat-larg4.jpg' %}" alt="" class="w-100"></a> 
            </div>
           
           <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2>
           <div class="fables-forth-text-color font-14 mb-2">                                  
               <span class="fables-icondata fables-second-text-color mr-1"></span> 
               <span class="mr-3"> 09 November, 2018 </span>
               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
           </div>
           <p class="fables-forth-text-color font-14 mb-3">
               When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you will go the easy way .
           </p>
           <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus...</a>  

       </div>
       <div class="col-12 col-sm-6 col-md-8 mb-4 mb-lg-5"> 
           <div class="owl-carousel owl-theme default-carousel absolute-dots nav-0">
               <div class="image-container zoomOut-effect">
                   <a href="#"><img src="{% static 'assets/custom/images/blog-xl-img1.jpg' %}" alt="" class="w-100"></a> 
               </div>
                <div class="image-container zoomOut-effect">
                   <a href="#"><img src="{% static 'assets/custom/images/blog-xl-img1.jpg' %}" alt="" class="w-100"></a> 
               </div>
           </div>

           <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2>
           <div class="fables-forth-text-color font-14 mb-2">                                  
               <span class="fables-icondata fables-second-text-color mr-1"></span> 
               <span class="mr-3"> 09 November, 2018 </span>
               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
           </div>
           <p class="fables-forth-text-color font-14 mb-3">
               When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you will go the easy way .
               versatile Assuming that you will go the easy way . versatile Assuming that you will go the easy way 
               versatile Assuming that you will go the easy way.
           </p>
           <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus...</a> 

       </div>
       
  </div>  


   <div class="fables-latest-news">
        <h2 class="fables-forth-text-color fables-light-background-color mb-3 mb-lg-5 p-3 font-18 semi-font">Sur les réseaux sociaux</h2> 
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4"> 
                <div class="latest-news-img-block" style="background-image:url(assets/custom/images/post-1.jpg);background-size: cover"> 
                     <p class="latest-news-text fables-testimonial-detail fables-main-color-transparent italic text-white font-14 text-center p-6">
                        When you need your company to
                        have a new  website or if you venture on updating your 
                        old webpage with a new look and functionality
                    </p>
                </div>

                <div class="latest-news-img-block mt-5 mb-4 mb-md-0 bg-r" style="background-image: url(assets/custom/images/post-2.jpg);background-size: cover"> 
                     <p class="latest-news-text fables-second-color-transparent fables-text-overlay text-white font-14 italic">
                        When you need your company to
                        have a new  website or if you venture on updating your 
                        old webpage with a new look and functionality
                    </p>
                </div> 
            </div>
            <div class="col-12 col-sm-6 col-lg-4"> 
                <div class="image-container zoomOut-effect">
                    <a href="#"><img src="{% static 'assets/custom/images/mobile-apps.jpg' %}" alt="" class="w-100"></a>
                </div>
                

               <h2 class="font-18 semi-font mt-3 mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
               <div class="fables-forth-text-color font-14 mb-2">                                  
                   <span class="fables-icondata fables-second-text-color mr-1"></span> 
                   <span class="mr-2 mr-sm-3"> 09 November, 2018 </span>
                   <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                   <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
               </div>
               <p class="fables-forth-text-color font-14 mb-3">
                   When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality the choices are versatile Assuming that you When you need your company to have a new  website or if you venture on updating your old webpage.
                   with a new look and functionality the choices are 
               </p>
               <a href="" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">En savoir plus... <i class="fas fa-chevron-right"></i></a>  

            </div>
            <div class="col-12 col-lg-4 mt-4 mt-lg-0">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-4"> 
                             <a href="#"><img src="{% static 'assets/custom/images/blog-cat1.jpg' %}" alt="" class="w-100"></a>
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#" class="fables-main-text-color semi-font fables-second-hover-color">LUIS LEATHER DRIVING MOCCASINS FROM ... </a>
                           <div class="fables-forth-text-color font-14 mb-2">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-2 mr-sm-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
                           </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-4">
                            <a href="#"><img src="{% static 'assets/custom/images/blog-cat2.jpg' %}" alt="" class="w-100"></a>
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#" class="fables-main-text-color semi-font fables-second-hover-color">LUIS LEATHER DRIVING MOCCASINS FROM ... </a>
                           <div class="fables-forth-text-color font-14 mb-2">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-2 mr-sm-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
                           </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-4">
                            <a href="#"><img src="{% static 'assets/custom/images/blog-cat3.jpg' %}" alt="" class="w-100"></a>
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#" class="fables-main-text-color semi-font fables-second-hover-color">LUIS LEATHER DRIVING MOCCASINS FROM ... </a>
                           <div class="fables-forth-text-color font-14 mb-2">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-2 mr-sm-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
                           </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-4">
                            <a href="#"><img src="{% static 'assets/custom/images/blog-cat4.jpg' %}" alt="" class="w-100"></a>
                        </div>
                        <div class="col-8 pl-0">
                            <a href="#" class="fables-main-text-color semi-font fables-second-hover-color">LUIS LEATHER DRIVING MOCCASINS FROM ... </a>
                           <div class="fables-forth-text-color font-14 mb-2">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-2 mr-sm-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
                           </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-4">
                            <a href="#"><img src="{% static 'assets/custom/images/blog-cat5.jpg' %}" alt="" class="w-100"></a>
                        </div> 
                        <div class="col-8 pl-0">
                            <a href="#" class="fables-main-text-color semi-font fables-second-hover-color">LUIS LEATHER DRIVING MOCCASINS FROM ... </a>
                           <div class="fables-forth-text-color font-14 mb-2">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="fables-main-text-color fables-second-hover-color">2</a> 
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
  <div class="fables-blog-teaser">
      <h2 class="fables-forth-text-color fables-light-background-color mb-4 mb-lg-5 p-3 font-18 semi-font">En rapport avec le #FAP2023</h2> 
      <div class="row">
          <div class="col-12 col-lg-8 mb-4">
              <div class="position-relative image-container zoomOut-effect"> 
                   <a href="#"><img src="{% static 'assets/custom/images/blog-teaser-img1.jpg' %}" alt="" class="w-100"></a> 
                   <div class="fables-blog-overlay text-white pl-md-5 pb-5 pl-3"> 
                       <div class="text-white font-14">                                  
                           <span class="fables-icondata fables-second-text-color mr-1"></span> 
                           <span class="mr-3"> 09 November, 2018 </span>
                           <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                           <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                       </div>
                       <h2 class="position-relative z-index"><a href="#" class="font-18 semi-font pb-3 text-white border-bottom">Getting to Another Level of Design</a></h2> 
                    </div> 
               </div>
          </div>
          <div class="col-12 col-lg-4"> 
                  <div class="position-relative mb-4 image-container zoomOut-effect"> 
                       <a href="#"><img src="{% static 'assets/custom/images/blog-teaser-img1.jpg' %}" alt="" class="w-100"></a> 
                       <div class="fables-blog-overlay text-white pl-md-5 pb-5 pl-3"> 
                           <div class="text-white font-14">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                           </div>
                           <h2 class="position-relative z-index"><a href="#" class="font-18 semi-font pb-3 text-white border-bottom">Getting to Another Level of Design</a></h2> 
                        </div> 
                   </div> 
                  <div class="position-relative mb-4 image-container zoomOut-effect"> 
                       <a href="#"><img src="{% static 'assets/custom/images/blog-teaser-img1.jpg' %}" alt="" class="w-100"></a> 
                       <div class="fables-blog-overlay text-white pl-md-5 pb-5 pl-3"> 
                           <div class="text-white font-14">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                           </div>
                           <h2 class="position-relative z-index"><a href="#" class="font-18 semi-font pb-3 text-white border-bottom">Getting to Another Level of Design</a></h2> 
                        </div>  

                  </div>

          </div>
          <div class="col-12 col-lg-4 mb-4 mb-lg-0">
              <div class="position-relative image-container zoomOut-effect"> 
                   <a href="#"><img src="{% static 'assets/custom/images/blog-teaser-img2.jpg' %}" alt="" class="w-100"></a> 
                  <div class="fables-blog-overlay text-white pl-4 pb-5"> 
                       <div class="text-white font-14">                                  
                           <span class="fables-icondata fables-second-text-color mr-1"></span> 
                           <span class="mr-3"> 09 November, 2018 </span>
                           <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                           <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                       </div>
                       <h2 class="position-relative z-index"><a href="#" class="font-18 semi-font pb-3 text-white border-bottom">Getting to Another Level of Design</a></h2> 
                    </div>  
               </div>
          </div>
          <div class="col-12 col-lg-4 mb-4 mb-lg-0"> 
               <div class="position-relative image-container zoomOut-effect">  
                   <img src="{% static 'assets/custom/images/Article-Writing.jpg' %}" alt="" class="w-100"> 
                   
                   <div class="demo-gallery-poster fables-main-gradient">
                     <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img src="{% static 'assets/custom/images/play-button.png' %}" alt="play button" class="w-100">
                    </a> 
                  </div> 
             </div>
                
          </div>
          <div class="col-12 col-lg-4 mb-4 mb-lg-0">
              <div class="owl-carousel owl-theme default-carousel absolute-dots nav-0">
                  <div> 
                      <div class="image-container zoomOut-effect">
                          <a href="#"><img src="{% static 'assets/custom/images/Article-Writing2.jpg' %}" alt="" class="w-100"></a> 
                      </div>
                       
                       <div class="fables-blog-overlay text-white pl-4 pb-5">  
                           <h2 class="position-relative z-index mb-2"><a href="#" class="font-18 semi-font text-white">Getting to Another Level of Design</a></h2> 
                            <div class="text-white font-14 z-index position-relative">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                           </div>
                        </div>  
                   </div>
                   <div> 
                       <div class="image-container zoomOut-effect">
                           <a href="#"><img src="{% static 'assets/custom/images/Article-Writing.jpg' %}" alt="" class="w-100"></a>
                       </div>
                        
                       <div class="fables-blog-overlay text-white pl-4 pb-5">  
                           <h2 class="position-relative z-index mb-2"><a href="#" class="font-18 semi-font text-white">Getting to Another Level of Design</a></h2> 
                           <div class="text-white font-14 z-index position-relative">                                  
                               <span class="fables-icondata fables-second-text-color mr-1"></span> 
                               <span class="mr-3"> 09 November, 2018 </span>
                               <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                               <a href="" class="text-white fables-second-hover-color position-relative z-index">2</a> 
                           </div>
                        </div>  
                   </div>
              </div>

          </div>


      </div> 
  </div>
  <div class="fables-blog-slider mt-lg-5">
          <h2 class="fables-forth-text-color fables-light-background-color mb-4 mb-lg-5 p-3 font-18 semi-font">Blog Slider</h2> 
          <div class="owl-carousel owl-theme fables-main-dots carousel-items-4 mb-4 mb-lg-">
             <div> 
                  <div class="image-container zoomOut-effect">
                   <a href="#"><img src="{% static 'assets/custom/images/blog-cat1.jpg' %}" alt="" class="w-100"></a> 
                 </div>
                   <div class="fables-forth-text-color font-14  my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div>
                <div> 
                    <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat2.jpg' %}" alt="" class="w-100"></a> 
                   
                    </div>
                   
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div> 
                <div> 
                    <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat3.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                   
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div> 
                <div> 
                    <div class="image-container zoomOut-effect">
                        <a href="#"><img src="{% static 'assets/custom/images/blog-cat4.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                   
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div>  
               <div> 
                   <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat1.jpg' %}" alt="" class="w-100"></a> 
                   </div>
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div>
                <div> 
                    <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                   
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div> 
                <div> 
                    <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat3.jpg' %}" alt="" class="w-100"></a>
                    </div> 
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div> 
                <div> 
                   <div class="image-container zoomOut-effect">
                       <a href="#"><img src="{% static 'assets/custom/images/blog-cat4.jpg' %}" alt="" class="w-100"></a>
                   </div>
                    
                   <div class="fables-forth-text-color font-14 my-2">                                  
                       <span class="fables-icondata fables-second-text-color mr-1"></span> 
                       <span class="mr-3"> 09 November, 2018 </span>
                       <span class="fables-iconcomment fables-second-text-color mr-1"></span> 
                       <a href="" class="fables-forth-text-color fables-second-hover-color position-relative z-index">2</a> 
                   </div>
                   <h2 class="font-18 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                   <a href="" class="btn fables-second-text-color fables-main-hover-color font-14 p-0 my-3">En savoir plus... <i class="fas fa-chevron-right"></i></a>  
               </div>    
         </div>
  </div>
           
</div>
{% endblock "body" %}