{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Foire Africaine de Paris{% endblock "title" %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter bg-rules" style="background-image: url({% static 'images/Afro-Beatz.jpg' %});">
    <div class="container overflow-hidden">  
        <div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig" data-wow-duration="2s">
              <div>
                  <h1 class="white-color bold-font mt-lg-5 mb-4">CONSULTING SERVICE FOR ALL <br> 
                     <span class="fables-second-text-color">KIND OF BUSINESSES</span>
                  </h1>  
                  <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                    Un festival consacré à la cuisine africaine
                  </p>
                  <a href="#" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-md-4 py-2 btn-bg-hover white-color-hover">Our Services</a>
                  <a href="#" class="btn fables-second-border-color white-color rounded-0 px-md-4 py-2 fables-second-hover-background-color">Learn More</a>  
              </div> 
        </div>
    </div>
</div>  
<!-- /End Header -->
     


<div class="container" >
    <div class="row my-4 my-md-5" >
        <div class="col-12 col-md-10 offset-md-1  text-center">
            <h1 class="font-weight-bold fables-main-text-color display-3 title">African Fashion Cook</h1> 
            <br> <br> 
            <p class="fables-forth-text-color">
                L'African Fashion Cook est un événement gourmand qui célèbre la diversité culinaire de l'Afrique.Des chefs renommés et des amateurs de cuisine se réunissent pour partager des recettes, des techniques et des saveurs uniques à la culture africaine.
            </p>
        </div>
    </div> 
</div>



<div class="container"> 
    <div class="row mt-4 my-md-5 overflow-hidden">
        <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
            <div class="border p-3 p-md-4 text-center text-lg-left">
                <div class="row">
                    <div class="col-12 col-lg-3 text-center mb-3 mb-lg-0">
                        <span class="fables-iconlamp-icon fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">We’re Creative</h2>
                        <div class="font-15 fables-forth-text-color">
                            Lorem ipsum dolor sit amet  
                            adipiscing elit. Aenean ac lorem pretium laoreet
                             enim at. 
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
           <div class="border p-3 p-md-4 text-center text-lg-left">
                <div class="row">
                    <div class="col-12 col-lg-3 text-center mb-3 mb-lg-0">
                        <span class="fables-icongears-icon fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-lg-9">
                       <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Highly Customizable</h2>
                       <div class="font-15 fables-forth-text-color">
                            Lorem ipsum dolor sit amet  
                            adipiscing elit. Aenean ac lorem pretium laoreet
                             enim at. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
           <div class="border p-3 p-md-4 text-center text-lg-left">
                <div class="row">
                    <div class="col-12 col-lg-3 text-center mb-3 mb-lg-0">
                        <span class="fables-iconheadset-icon fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-lg-9">
                       <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Efficient 24/7 support</h2>
                        <div class="font-15 fables-forth-text-color">
                            Lorem ipsum dolor sit amet  
                            adipiscing elit. Aenean ac lorem pretium laoreet
                             enim at. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>




<div class="container-fluid">
    <div class="row mt-3 mt-md-5">
        <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">  
             <div class="choose-img-border-after fables-second-border-color position-relative">
                  <img src="{% static 'images/african-why.jpg' %}" alt="" class="w-100">  
             </div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden"> 
            <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft"><span class="fables-main-text-color">LA FOIRE AFRICAINE DE PARIS</span></h2>
            <p class="fables-forth-text-color mt-4 mb-4">
                Participer à la Foire Africaine de Paris peut être une opportunité unique et enrichissante pour diverses raisons.
                 Voici six raisons pour lesquelles cela pourrait être intéressant :
            </p>  
            <div class="position-relative mb-3 wow " > 
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Promotion de la culture africaine.
                </p>
            </div>
            <div class="position-relative mb-3 wow " >
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Développement de réseaux professionnels 
                </p>
            </div>
            <div class="position-relative mb-3 wow ">
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Découverte de produits et innovations africaines.
                </p>
            </div>
            <div class="position-relative mb-3 wow " >
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Sensibilisation sur les enjeux et défis africains.
                </p>
            </div>
            <div class="position-relative mb-3 wow ">
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Célébration de la diversité africaine
                </p>
            </div>
            <div class="position-relative mb-3 wow ">
                <p class="fables-fifth-text-color fables-dots-text">
                     <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                     Plus de 12 pays partenaires
                </p>
            </div>
        </div>
     </div>
</div><br><br>




<br><br>


    
      <div class="fables-counter-no-background my-4 my-md-5 overflow-hidden">
        <div class="container">
            <div class="fables-about-head-style">
                 <div class="row wow fadeInDown" data-wow-delay=".5s">
                     <div class="col-12 text-center">
                         <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                             <span class="mx-4">About us</span>
                         </h3>
                         <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Our business experties Provide you the great value</h2>  
                     </div>
                     <div class="col-12 col-md-10 offset-md-1 mt-3 mb-5">
                         <p class="fables-forth-text-color text-center">
                              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many.
                         </p>
                     </div> 
                 </div>
             </div>
            
            <div class="row wow fadeIn" data-wow-delay=".8s">
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="307">0</h2>
                        <h3 class="font-14 semi-font fables-forth-text-color">SATISFIED CLIENTS</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="95">0</h2>
                        <h3 class="font-14 semi-font fables-forth-text-color">COMPANY MEMBERS</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="55">0</h2>
                        <h3 class="font-14 semi-font fables-forth-text-color">AWWARDS WIN</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="16">0</h2>
                        <h3 class="font-14 semi-font fables-forth-text-color">YEARS EXPIRIENCE</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>

    <div class="fables-history-section mb-4 mb-md-5">
        <div class="container">
             <div class="item">
               <div class="row">
                   <div class="col-12 col-sm-4 mb-4 mb-md-0">
                       <div class="card">
                          <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/img2.jpg' %}" alt="Fables Template">
                          <div class="card-body">
                            <h5 class="card-title fables-second-text-color">2010</h5>
                            <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                          </div>
                        </div>
                   </div>
                   <div class="col-12 col-sm-4 mb-4 mb-md-0">
                       <div class="card">
                          <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/history-img.jpg' %}" alt="Fables Template">
                          <div class="card-body">
                            <h5 class="card-title fables-second-text-color">2010</h5>
                            <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                          </div>
                        </div>
                   </div>
                   <div class="col-12 col-sm-4 mb-4 mb-md-0">
                       <div class="card">
                          <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/img3.jpg' %}" alt="Fables Template">
                          <div class="card-body">
                            <h5 class="card-title fables-second-text-color">2010</h5>
                            <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                          </div>
                        </div>
                   </div>
                   
               </div>
          </div>
        </div>
     </div>
    
    
    
    
           <div class="container mb-4 mb-md-5 mt-5"> 
                   <div class="gallery-filter">
                        <div class="portfolioContainer row filter-masonry"> 
                              <div class="drawings places col-sm-6 col-md-3 mb-2">
                                <div class="filter-img-block position-relative image-container translate-effect-right">
                                     <img src="{% static 'assets/custom/images/index-testimonial1.jpg' %}" alt="image" class="w-100">
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a data-fancybox="gallery" href="assets/custom/images/index-testimonial1.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
                              </div>
    
                              <div class="webDesign food col-sm-6 col-md-3 mb-2">
                                <div class="filter-img-block position-relative image-container translate-effect-right">
                                     <img src="{% static 'assets/custom/images/index-testimonial2.jpg' %}" alt="image" class="w-100">
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a data-fancybox="gallery" href="assets/custom/images/index-testimonial2.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
                              </div>
                             <div class="webDesign objects col-sm-6 col-md-3 mb-2">
                                 <div class="filter-img-block position-relative image-container translate-effect-right"> 
                                     <img src="{% static 'assets/custom/images/index-testimonial3.jpg' %}" alt="image" class="w-100"> 
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a  data-fancybox="gallery" href="assets/custom/images/index-testimonial3.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
    
                              </div>    
                              <div class="appDesign brand col-sm-6 col-md-3 mb-2">
                                <div class="filter-img-block position-relative image-container translate-effect-right">
                                     <img src="{% static 'assets/custom/images/index-testimonial4.jpg' %}" alt="image" class="w-100">
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a data-fancybox="gallery" href="assets/custom/images/index-testimonial4.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
                              </div>
    
                              <div class="webDesign col-sm-6 col-md-3 mb-2">
                                <div class="filter-img-block position-relative image-container translate-effect-right">
                                     <img src="{% static 'assets/custom/images/index-testimonial5.jpg' %}" alt="image" class="w-100">
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a data-fancybox="gallery" href="assets/custom/images/index-testimonial5.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
                              </div> 
                              <div class="webDesign col-sm-6 col-md-3 mb-2">
                                <div class="filter-img-block position-relative image-container translate-effect-right">
                                     <img src="{% static 'assets/custom/images/index-testimonial5.jpg' %}" alt="image" class="w-100">
                                     <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                         <a href="#" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconlink"></span></a>
                                         <a data-fancybox="gallery" href="assets/custom/images/index-testimonial5.jpg" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                     </div>
                                 </div>
                              </div>
                        </div> 
                   </div> 
           </div>
    
    


        <div class="container-fluid m-b-lg"> 
            <div class="row overflow-hidden">
                <div class="col-12 col-sm-4 p-sm-0 image-container translate-effect-right wow fadeInRight" data-wow-durationn="2.5s">
                    <img src="{% static 'images/stands.jpg' %}" alt="Fables Template" class="img-fluid">
                </div>
                <div class="col-12 col-sm-4 p-sm-0 image-container translate-effect-right wow fadeInRight" data-wow-durationn="2.5s">
                    <img src="{% static 'images/stands.jpg' %}" alt="Fables Template" class="img-fluid">
                </div>
                <div class="col-12 col-sm-4 p-sm-0 image-container translate-effect-right wow fadeInRight" data-wow-durationn="2.5s">
                    <img src="{% static 'images/stands.jpg' %}" alt="Fables Template" class="img-fluid">
                </div>
            </div>
        </div>
    


    <div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules" style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn" data-wow-duration="2s"> 
                        <h3 class=" white-color mb-3 font-25 font-weight-bold">Réservez votre Ticket !</h3> 
                        <p class="font-weight-light fables-third-text-color">
                            Vivez une expérience inoubliable aux événements Dream Team Africa !
                            Réservez dès maintenant pour ne pas manquer cette célébration extraordinaire de la culture africaine !
                        </p>
                        <a href="{% url "vitrineApp:billetterie" %}" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Réserver dès maintenant</a>   
                </div> 
            </div>
            
        </div>
    </div>



        <div class="fables-light-background-color py-3 py-md-4 py-lg-5">
            <div class="container">
                <div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>

                 </div>  
            </div>
        </div>

{% endblock "body" %}