{% extends 'base/vitrineBase.html' %}
{% load static %}
{% block "title" %}African Fashion Cook | Dream Team Africa{% endblock "title" %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter bg-rules"
	style="background-image: url({% static 'images/global/epice-africaine.webp'%})">
	<div class="container overflow-hidden">
		<div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig" data-wow-duration="2s">
			<div>
				<h1 class="white-color bold-font mt-lg-5 mb-4 text-uppercase">
					Goutez, dégustez, appréciez <br />
					<span class="fables-second-text-color text-uppercase">Retrouvez le terroir</span>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- /End Header -->

<div class="container">
	<div class="row my-4 my-md-5">
		<div class="col-12 col-md-10 offset-md-1 text-center">
			<h2 class="font-35 font-weight-bold fables-second-text-color subtitle">
				Mille et une saveurs...
			</h2>
			<h1 class="font-weight-bold fables-main-text-color display-3 title">
				African Fashion Cook
			</h1>
			<br />
			<br />
			<p class="fables-forth-text-color">
				L'African Fashion Cook est un événement gourmand qui célèbre la
				diversité culinaire de l'Afrique.Des chefs renommés et des amateurs de
				cuisine se réunissent pour partager des recettes, des techniques et des
				saveurs uniques à la culture africaine.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mt-4 my-md-5 overflow-hidden text-center">
		<div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
			<div class="border p-3 p-md-4 text-center text-lg-left">
				<div class="row">
					<div class="col-12">
						<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">
							Cuisine Multiculturelle
						</h2>
						<div class="font-15 fables-forth-text-color">
							Explorez une mosaïque de saveurs provenant des diverses régions
							d'Afrique, offrant une expérience culinaire multiculturelle
							unique.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
			<div class="border p-3 p-md-4 text-center text-lg-left">
				<div class="row">
					<div class="col-12">
						<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">
							Échange Culinaire
						</h2>
						<div class="font-15 fables-forth-text-color">
							Partagez des recettes, des techniques de cuisine et des astuces
							avec des chefs renommés et des passionnés de cuisine, favorisant
							ainsi un précieux échange culinaire.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
			<div class="border p-3 p-md-4 text-center text-lg-left">
				<div class="row">
					<div class="col-12">
						<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">
							Saveurs Africaines
						</h2>
						<div class="font-15 fables-forth-text-color">
							Découvrez des saveurs authentiques et exotiques, imprégnées de la
							richesse culturelle de l'Afrique, qui éveilleront vos papilles et
							élargiront votre palais.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />

<div class="container-fluid">
	<div class="row mt-3 mt-md-5">
		<div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">
			<div class="choose-img-border-after fables-second-border-color position-relative">
				<img src="{% static 'images/global/kpla.jpg' %}" alt="" class="w-100" />
			</div>
		</div>
		<div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden">
			<h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">
				<span class="fables-main-text-color">LA FOIRE AFRICAINE DE PARIS</span>
			</h2>
			<p class="fables-forth-text-color mt-4 mb-4">
				Participer à la Foire Africaine de Paris peut être une opportunité
				unique et enrichissante pour diverses raisons. Voici six raisons pour
				lesquelles cela pourrait être intéressant :
			</p>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Promotion de la culture africaine.
				</p>
			</div>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Développement de réseaux professionnels
				</p>
			</div>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Découverte de produits et innovations africaines.
				</p>
			</div>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Sensibilisation sur les enjeux et défis africains.
				</p>
			</div>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Célébration de la diversité africaine
				</p>
			</div>
			<div class="position-relative mb-3 wow">
				<p class="fables-fifth-text-color fables-dots-text">
					<span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
					Plus de 12 pays partenaires
				</p>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-3 mt-md-5 px-5">
		<div class="row mt-3 mt-md-5">
			<div class="col-12 col-sm-6 col-md-4 p-2 text-right">
				<div class="choose-img-border-after fables-second-border-color position-relative">
					<img src="{% static 'images/global/7e7c1cffc2ed4091b569ba3fe331d183.jpg' %}" alt="" class="w-100" />
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 p-2 text-right">
				<div class="choose-img-border-after fables-second-border-color position-relative">
					<img src="{% static 'images/global/cusiniere.jpg' %}" alt="" class="w-100" />
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 p-2 text-right">
				<div class="choose-img-border-after fables-second-border-color position-relative">
					<img src="{% static 'images/global/meilleur-recette-africaine.jpeg' %}" alt="" class="w-100" />
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br />

<br /><br />

<div class="fables-counter-no-background my-4 my-md-5 overflow-hidden">
	<div class="container">
		<div class="fables-about-head-style">
			<div class="row wow fadeInDown" data-wow-delay=".5s">
				<div class="col-12 text-center">
					
					<h2 class="font-35 font-weight-bold fables-second-text-color subtitle">
						Bienvenue à l'African Fashion Cook : 
					</h2>
					<h1 class="font-weight-bold fables-main-text-color display-3 title">
						Une découverte de Saveurs et de Culture Africaine
					</h1>
				</div>
				<div class="col-12 col-md-10 offset-md-1 mt-3 mb-5">
					<p class="fables-forth-text-color text-center">
						L'African Fashion Cook est une célébration gourmande de la diversité culinaire africaine. Au cœur de cet événement, découvrez une mosaïque de saveurs authentiques, apprenez des chefs de renommée mondiale, partagez des recettes et des traditions, et dégustez des plats uniques venant de différentes régions d'Afrique. C'est une expérience culinaire immersive qui vous invite à explorer, à apprendre et à savourer la richesse de la culture africaine à travers la cuisine.
					</p>
				</div>
			</div>
		</div>

		<div class="row wow fadeIn" data-wow-delay=".8s">
			<div class="col-6 col-md-3">
				<div class="fables-counter">
					<h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="307">
						0
					</h2>
					<h3 class="font-14 semi-font fables-forth-text-color">
						SATISFIED CLIENTS
					</h3>
				</div>
			</div>
			<div class="col-6 col-md-3">
				<div class="fables-counter">
					<h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="95">
						0
					</h2>
					<h3 class="font-14 semi-font fables-forth-text-color">
						COMPANY MEMBERS
					</h3>
				</div>
			</div>
			<div class="col-6 col-md-3">
				<div class="fables-counter">
					<h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="55">
						0
					</h2>
					<h3 class="font-14 semi-font fables-forth-text-color">AWWARDS WIN</h3>
				</div>
			</div>
			<div class="col-6 col-md-3">
				<div class="fables-counter">
					<h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="16">
						0
					</h2>
					<h3 class="font-14 semi-font fables-forth-text-color">
						YEARS EXPIRIENCE
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<br /><br />

{% include "../partials/boutique.html" %}


<div class="container-fluid">
	<div class="row mt-3 mt-md-5">
		<div class="col-12 col-md-5 offset-md-1 mb-4 mb-lg-0 overflow-hidden">
			<h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">Au programme...<span
					class="fables-main-text-color"> </span></h2>
			<p class="fables-forth-text-color mt-4 mb-4"></p>

			<div id="accordion">
				<div class="card border-0 mb-3">
					<div class="card-header p-0 border bg-transparent rounded-0" id="headingOne">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block 
		position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate"
								data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">
								Dégustation de Saveurs Africaines
							</button>
						</h5>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Un aperçu de la diversité culinaire africaine avec des dégustations de plats de différentes régions. Découvrez des épices, des thés, des cafés et des ingrédients uniques de l'Afrique.
						</div>
					</div>
				</div>
				<div class="card border-0 mb-3">
					<div class="card-header bg-transparent p-0 border rounded-0" id="headingTwo">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed"
								data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo">
								Atelier de Cuisine Traditionnelle
							</button>
						</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Apprenez à préparer des plats africains traditionnels sous la direction de chefs expérimentés. Expérimentez la fusion de saveurs africaines avec des influences internationales.
						</div>
					</div>
				</div>
				<div class="card border-0 mb-3">
					<div class="card-header p-0 border bg-transparent rounded-0" id="headingThree">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block 
		position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed"
								data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
								aria-controls="collapseThree">
								Démonstration de Cuisine en Direct 
							</button>
						</h5>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Un chef renommé montre comment préparer un plat emblématique de l'Afrique.
						</div>
					</div>
				</div>
				<div class="card border-0 mb-3">
					<div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed"
								data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
								aria-controls="collapseThree">
								Marché Gourmand Africain
							</button>
						</h5>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Explorez une variété de stands proposant des produits gastronomiques africains rares et authentiques.
						</div>
					</div>
				</div>
				<div class="card border-0 mb-3">
					<div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed"
								data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
								aria-controls="collapseThree">
								Spectacles & divertissements
							</button>
						</h5>
					</div>
					<div id="collapse4" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Un spectacle culturel éblouissant mettant en avant la musique, la danse et l'art africains. Un banquet festif mettant en vedette les plats les plus appréciés de l'événement.
						</div>
					</div>
				</div>
				<div class="card border-0 mb-3">
					<div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
						<h5 class="mb-0 position-relative">
							<span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
								<i class="fas fa-plus"></i>
							</span>
							<button
								class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed"
								data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
								aria-controls="collapseThree">
								Concours de Cuisine Amateur & Professionnelle
							</button>
						</h5>
					</div>
					<div id="collapse5" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
						<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
							Les amateurs de cuisine montrent leurs talents en préparant des plats africains. Les chefs professionnels s'affrontent pour créer le meilleur plat africain.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 text-right mb-lg-5">
			<div class="gallery-filter">
                <div class="portfolioContainer row filter-masonry"> 
                    {% for fichier in fichiers %}
                        <div class="drawings places col-sm-6 col-md-3 mb-2">
                            <div class="filter-img-block position-relative image-container translate-effect-right">
                                <img src="{% static fichier %}" alt="image" class="w-100">
                                <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                    <a data-fancybox="gallery" href="{% static fichier %}" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div> 
		</div>
	</div>
</div><br>




<div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules" style="
		background-image: url({% static 'assets/custom/images/index2-overlay.jpg'%});
	">
	<div class="container">
		<div class="row">
			<div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn" data-wow-duration="2s">
				<h3 class="white-color mb-3 font-25 font-weight-bold">
					Réservez votre Ticket !
				</h3>
				<p class="font-weight-light fables-third-text-color">
					Vivez une expérience inoubliable aux événements Dream Team Africa !
					Réservez dès maintenant pour ne pas manquer cette célébration
					extraordinaire de la culture africaine !
				</p>
				<a href="{% url 'vitrineApp:billetterie' %}"
					class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded mt-4 py-2 px-5">Réserver
					dès maintenant</a>
			</div>
		</div>
	</div>
</div>

<div class="fables-light-background-color py-3 py-md-4 py-lg-5">
	<div class="container">
		<div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="fborder-hover ables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="border-hover fables-partner-carousel-img" />
			</div>
			<div>
				<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
					class="fborder-hover ables-partner-carousel-img" />
			</div>
		</div>
	</div>
</div>

{% endblock "body" %}