{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Foire Aux Questions | Dream Team Africa{% endblock "title" %}


{% block "body" %}


<!-- Start Header -->
<div style="background-image: url({% static 'images/calque.png' %});">

	<div class="fables-header fables-after-overlay overlay-lighter bg-rules"
		style="background-image: url({% static 'images/Afro-Beatz.jpg' %});">
		<div class="container overflow-hidden">
			<div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig"
				data-wow-duration="2s">
				<div>
					<h1 class="white-color bold-font mt-lg-5 mb-5">QUAND LA CULTURE AFRICAINE... <br>
						<span class="fables-second-text-color">S'EXPORTE POUR VOUS !</span>
					</h1>
					<p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
						Un espace d'exposition qui met en avant produits, services et innovations africains.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /End Header -->


	<div class="py-4 py-md-5 bg-rules overflow-hidden px-3 px-md-0">
		<div class="container position-relative z-index">

			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-sm-3 wow">
					<div class="border p-3 p-md-4 text-center text-lg-left">
						<div class="row">
							<div class="col-12">
								<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Cadeaux
									Uniques et
									Originaux</h2>
								<div class="font-15 fables-forth-text-color">
									Explorez un marché de cadeaux uniques, de bijoux artisanaux à des objets de
									décoration exotiques,
									parfaits pour vos achats de Noël.
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-sm-3 wow">
					<div class="border p-3 p-md-4 text-center text-lg-left">
						<div class="row">
							<div class="col-12">
								<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Cadeaux
									Uniques et
									Originaux</h2>
								<div class="font-15 fables-forth-text-color">
									Explorez un marché de cadeaux uniques, de bijoux artisanaux à des objets de
									décoration exotiques,
									parfaits pour vos achats de Noël.
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-sm-3 wow">
					<div class="border p-3 p-md-4 text-center text-lg-left">
						<div class="row">
							<div class="col-12">
								<h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Cadeaux
									Uniques et
									Originaux</h2>
								<div class="font-15 fables-forth-text-color">
									Explorez un marché de cadeaux uniques, de bijoux artisanaux à des objets de
									décoration exotiques,
									parfaits pour vos achats de Noël.
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="container-fluid my-3 text-center">
				<div class="my-4 my-md-5">
					<h2 class="font-35 font-weight-bold fables-second-text-color subtitle">un souci ...?</h2>
					<h1 class="font-weight-bold fables-main-text-color display-3 title">Foire aux questions</h1>
				</div>
			</div>



			<div id="accordion">
				{% for faq in faqs %}
					<div class="card border-0 mb-4">
						<div class="card-header p-0 border bg-transparent rounded-0" id="headingOne">
							<h5 class="mb-0 position-relative">
								<span
									class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
									<i class="fas fa-plus"></i>
								</span>
								<button
									class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate"
									data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">
									{{faq.question}}
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
								{{faq.reponse}}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>


		</div>
	</div>


	<div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules"
		style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn"
					data-wow-duration="2s">
					<h3 class=" white-color mb-3 font-25 font-weight-bold">Faites-vous plaisir !</h3>
					<p class="font-weight-light fables-third-text-color">
						Vivez une expérience inoubliable aux événements Dream Team Africa !
						Réservez dès maintenant pour ne pas manquer cette célébration extraordinaire de la culture
						africaine !
					</p>
					<a href="{% url 'vitrineApp:billetterie' %}"
						class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Réserver
						dès maintenant</a>
				</div>
			</div>

		</div>
	</div>


	<div class="fables-light-background-color py-3 py-md-4">
		<div class="container">
			<div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="fborder-hover ables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="border-hover fables-partner-carousel-img">
				</div>
				<div>
					<img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template"
						class="fborder-hover ables-partner-carousel-img">
				</div>

			</div>
		</div>
	</div>

	{% endblock "body" %}