{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Fashion West Africa | Dream Team Africa{% endblock "title" %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter bg-rules" style="background-image: url({% static 'images/global/tissu-wax-african.jpg' %});">
    <div class="container overflow-hidden">  
        <div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig" data-wow-duration="2s">
              <div>
                  <h1 class="white-color bold-font mt-lg-5 mb-4 text-uppercase">Un défilé qui célèbre la créativité et la diversité<br> 
                     <span class="fables-second-text-color text-uppercase">de la mode africaine</span>
                  </h1>  
                  <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                    La Mode Africaine sous les Feux de la Créativité
                  </p>
              </div> 
        </div>
    </div>
</div>  
<!-- /End Header -->
     


<div class="container-fluid my-3 text-center" >
    <div class="my-4 my-md-5" >
        <h2 class="font-35 font-weight-bold fables-second-text-color subtitle">Sublimez vous dans le...</h2>
        <h1 class="font-weight-bold fables-main-text-color display-3 title">Fashion West Africa</h1> 
    </div>
</div>

<div class="container" >
    <div class="row " >
        <div class="col-12 col-md-10 offset-md-1  text-center">
                <p class="fables-forth-text-color">
                    Africa Fashion Week est plus qu'un simple défilé de mode ; il s'agit d'une célébration de la riche culture africaine à travers le prisme de la mode. Le but de cet événement est de mettre en avant la diversité et la créativité des designers africains. Les créateurs locaux et internationaux présentent leurs dernières collections, allant des vêtements traditionnels aux designs modernes et avant-gardistes.
                </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow"> 
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3"> 
                            <span class="fables-iconhead-set-light fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                            <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Diversité de la Créativité</h2>
                            <div class="font-15 fables-forth-text-color">
                                Explorez une variété de styles de mode, allant des designs traditionnels aux créations avant-gardistes, mettant en valeur la diversité de la créativité africaine. 
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow"> 
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3">
                            <span class="fables-iconscreen fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                           <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Stylistes Designers Africains</h2>
                           <div class="font-15 fables-forth-text-color">
                            Offrez une vitrine aux designers locaux et internationaux, leur permettant de présenter leurs dernières collections et de partager leur vision artistique.
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow" > 
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3">
                            <span class="fables-iconfile fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                           <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Célébration Culturelle</h2>
                            <div class="font-15 fables-forth-text-color">
                                Vivez une célébration authentique de la culture africaine à travers la mode, où l'art, la musique, la danse et la gastronomie se marient pour créer une expérience immersive inoubliable. 
                            </div>
                        </div>
                    </div> 
                </div>
        </div> 
    </div>




    <div class="container mb-4 mb-md-5 mt-5"> 
        <div class="gallery-filter">
            <div class="portfolioContainer row filter-masonry"> 
                {% for fichier in fichiers %}
                    <div class="drawings places col-sm-6 col-md-3 mb-2">
                        <div class="filter-img-block position-relative image-container translate-effect-right">
                            <img src="{% static fichier %}" alt="image" class="w-100">
                            <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                <a data-fancybox="gallery" href="{% static fichier %}" class="gallery-filter-icon white-color fables-second-hover-color"><span class="fables-iconsearch-icon"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div> 
   </div>


    <div class="container-fluid">
        <div class="row mt-3 mt-md-5">
            <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden"> 
                <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">Glamour et Innovation,<span class="fables-main-text-color">  où la mode africaine s'anime sous les projecteurs</span></h2>
                <p class="fables-forth-text-color mt-4 mb-4">
                    Explorez des défilés de mode sensationnels, assistez à des discussions animées avec des créateurs de renom, et découvrez les secrets des tendances africaines les plus captivantes. C'est une expérience mode incontournable qui célèbre la créativité, la diversité et l'élégance de l'Afrique
                </p>  

                <div id="accordion">
                    <div class="card border-0 mb-3">
                      <div class="card-header p-0 border bg-transparent rounded-0" id="headingOne">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Exposition d'œuvres d'art africaines et d'accessoires de mode
                          </button>
                        </h5>
                      </div>
        
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Une occasion de découvrir l'art africain et les accessoires de mode uniques qui influencent la création vestimentaire. Une exposition mettant en avant les richesses des textiles traditionnels africains.
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 mb-3">
                      <div class="card-header bg-transparent p-0 border rounded-0" id="headingTwo">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Présentations de designers émergents locaux
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Les jeunes talents locaux auront l'occasion de présenter leurs créations prometteuses.
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 mb-3">
                      <div class="card-header p-0 border bg-transparent rounded-0" id="headingThree">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Défilé de mode grandiose
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Les créateurs de renom présenteront leurs dernières collections dans un défilé spectaculaire. Présentation de créations mettant en avant la mode éthique et durable.
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 mb-3">
                      <div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Ateliers interactifs & Séminaires sur les tendances 
                          </button>
                        </h5>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Les participants pourront assister à des ateliers pratiques sur la conception de vêtements et d'accessoires. Des experts de l'industrie partageront leurs connaissances sur les tendances actuelles de la mode africaine. Des experts débattront de la fusion réussie de la mode traditionnelle et contemporaine.
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 mb-3">
                      <div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                            Présentations de collections internationales 
                          </button>
                        </h5>
                      </div>
                      <div id="collapse5" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Les designers internationaux présenteront leurs créations uniques.
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 mb-3">
                      <div class="card-header p-0 border bg-transparent rounded-0" id="headingfour">
                        <h5 class="mb-0 position-relative">
                          <span class="fables-second-background-color white-color d-inline-block position-absolute fables-lus-icon pt-2 text-center">
                              <i class="fas fa-plus"></i>  
                          </span>
                          <button class="btn fables-main-text-color bg-transparent font-18 focus-0 d-block position-relative z-index pl-6 pt-2 pb-2 w-100 text-left border-0 text-truncate collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                            Remise des prix
                          </button>
                        </h5>
                      </div>
                      <div id="collapse6" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body fables-forth-text-color font-14 py-1 py-xl-2 pl-6 pr-0">
                            Reconnaissance des créateurs pour leur créativité et leur innovation.
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">  
                 <div class="choose-img-border-after fables-second-border-color position-relative">
                      <img src="{% static 'images/global/Fashion-Week.jpg' %}" alt="" class="w-100">  
                 </div>
            </div>
         </div>
    </div><br>



    <div class="fables-index-products large-mb fables-after-overlay py-md-5 mt-md-5 bg-rules" style="background-image: url({% static 'assets/custom/images/index-products-overlay.jpg' %});">
        <div class="container z-index position-relative overflow-hidden"> 
            <div class="row">
                <div class="col-12 col-md-7 wow fadeInLeft">
                    <h2 class="fables-second-text-color font-35 font-weight-bold subtitle">#FAB2023 <span class="white-color">Boutique</span></h2>
                    <p class="fables-third-text-color mt-4 mb-md-5">
                        Explorez notre boutique exquise à la Foire Africaine de Paris et trouvez des trésors uniques, alliant authenticité et artisanat raffiné, pour emporter avec vous un morceau de l'Afrique.
                    </p>
                </div>
                <div class="col-12 col-md-5 col-lg-3 text-right offset-lg-2 my-4 my-md-0 mt-md-5 mt-lg-0 text-center">
                    <a href="{% url "boutiqueApp:main" %}" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded px-5 py-2">Voir tous nos produits</a>
                </div>
            </div>   
            <div class="owl-carousel owl-theme dots-0 circle-nav carousel-items-4"> 
                  <div class="card rounded-0 mb-4 border-light wow fadeIn" data-wow-delay=".4s">
                    <div class="row">
                        <div class="fables-product-img col-12">
                           <img class="card-img-top w-100 rounded-0" src="{% static 'assets/custom/images/index-product1.jpg' %}" alt="dress fashion">
                           <div class="fables-img-overlay">                                          
                               <ul class="nav fables-product-btns pr-3 mt-5 vertical-store-btns">
                                   <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
                                   <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
                                   <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
                               </ul>
                           </div>
                       </div>
                       <div class="card-body col-12">
                         <h5 class="card-title mx-3">
                             <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">dress fashion</a>
                         </h5>
                         <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
                         <p class="font-weight-bold fables-second-text-color my-2 mb-3 mx-3">$ 98.00</p>
                         <p class="fables-product-info"><a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 px-4 py-2">
                         <span class="fables-iconcart"></span> 
                         <span class="fables-btn-value">Ajouter au panier</span></a></p>
                       </div>
                    </div>
                  </div>  
                  <div class="card rounded-0 mb-4 border-light wow fadeIn" data-wow-delay=".8s">
                    <div class="row">
                        <div class="fables-product-img col-12">
                           <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/index-product2.jpg' %}" alt="dress fashion">
                           <div class="fables-img-overlay">                                          
                               <ul class="nav fables-product-btns pr-3 mt-5 vertical-store-btns">
                                   <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
                                   <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
                                   <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
                               </ul>
                           </div>
                       </div>
                       <div class="card-body col-12">
                         <h5 class="card-title mx-3">
                             <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">dress fashion</a>
                         </h5>
                         <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
                         <p class="font-weight-bold fables-second-text-color my-2 mb-3 mx-3">$ 98.00</p>
                         <p class="fables-product-info"><a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 px-4 py-2">
                         <span class="fables-iconcart"></span> 
                         <span class="fables-btn-value">Ajouter au panier</span></a></p>
                       </div>
                    </div>
                 </div> 
                  <div class="card rounded-0 mb-4 border-light wow fadeIn" data-wow-delay="1.2s">
                            <div class="row">
                                <div class="fables-product-img col-12">
                                   <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/index-product1.jpg' %}" alt="dress fashion">
                                   <div class="fables-img-overlay">                                          
                                       <ul class="nav fables-product-btns pr-3 mt-5 vertical-store-btns">
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
                                           <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="card-body col-12">
                                 <h5 class="card-title mx-3">
                                     <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">dress fashion</a>
                                 </h5>
                                 <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
                                 <p class="font-weight-bold fables-second-text-color my-2 mb-3 mx-3">$ 98.00</p>
                                 <p class="fables-product-info"><a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 px-4 py-2">
                                 <span class="fables-iconcart"></span> 
                                 <span class="fables-btn-value">Ajouter au panier</span></a></p>
                               </div>
                            </div>
                 </div>  
                  <div class="card rounded-0 mb-4 border-light wow fadeIn" data-wow-delay="1.6s">
                            <div class="row">
                                <div class="fables-product-img col-12">
                                   <img class="card-img-top rounded-0 w-100" src="{% static 'assets/custom/images/index-product2.jpg' %}" alt="dress fashion">
                                   <div class="fables-img-overlay">                                          
                                       <ul class="nav fables-product-btns pr-3 mt-5 vertical-store-btns">
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
                                           <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="card-body col-12">
                                 <h5 class="card-title mx-3">
                                     <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">dress fashion</a>
                                 </h5>
                                 <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
                                 <p class="font-weight-bold fables-second-text-color my-2 mb-3 mx-3">$ 98.00</p>
                                 <p class="fables-product-info"><a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 px-4 py-2">
                                 <span class="fables-iconcart"></span> 
                                 <span class="fables-btn-value">Ajouter au panier</span></a></p>
                               </div>
                            </div>
                     </div>   
                  <div class="card rounded-0 mb-4 border-light">
                            <div class="row">
                                <div class="fables-product-img col-12">
                                   <img class="card-img-top rounded-0 w-100" src="assets/custom/images/index-product1.jpg' %}" alt="dress fashion">
                                   <div class="fables-img-overlay">                                          
                                       <ul class="nav fables-product-btns pr-3 mt-5 vertical-store-btns">
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
                                           <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
                                           <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="card-body col-12">
                                 <h5 class="card-title mx-3">
                                     <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">dress fashion</a>
                                 </h5>
                                 <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
                                 <p class="font-weight-bold fables-second-text-color my-2 mx-3">$ 98.00</p>
                                 <p class="fables-product-info"><a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 px-4 py-2">
                                 <span class="fables-iconcart"></span> 
                                 <span class="fables-btn-value">Ajouter au panier</span></a></p>
                               </div>
                            </div>
                         </div>
             </div>  
        </div>
    </div>




   <div class="container text-center">

    <div class="row overflow-hidden mb-lg-5">
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-4 mb-lg-0 wow  " >
           <div class="table-block table-border-light py-5 fables-second-hover-border">
               <h2 class="fables-second-text-color font-35 font-weight-bold position-relative subtitle">40+</h2>
               <h2 class="fables-forth-text-color text-center font-weight-bold table-title fables-third-after position-relative subtitle font-17">Créateurs</h2> 
               <p class="fables-forth-text-color my-4 px-4 line-height-large font-15">
                Designers de Mode Émergents, Designers Établis, Designers de Mode Accessoires, Designers de Mode pour Hommes, etc..
           </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-4 mb-lg-0 wow ">
            <div class="table-block table-border-light py-5 fables-second-hover-border">
                <h2 class="fables-second-text-color font-35 font-weight-bold position-relative subtitle">2500+</h2>
               <h2 class="fables-forth-text-color text-center font-weight-bold table-title fables-third-after position-relative subtitle font-17">participants</h2> 
               <p class="fables-forth-text-color my-4 px-4 line-height-large font-15">
                Mannequins, Amateurs de Mode, Étudiants en Mode, Célébrités, Bénévoles et Équipes de Production, etc...
               </p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-4 mb-lg-0 wow " >
            <div class="table-block table-border-light py-5 fables-second-hover-border">
                <h2 class="fables-second-text-color font-35 font-weight-bold position-relative subtitle">150+</h2>
                <h2 class="fables-forth-text-color text-center font-weight-bold table-title fables-third-after position-relative subtitle font-17">Partenaires</h2> 
                <p class="fables-forth-text-color my-4 px-4 line-height-large font-15">
                    Sponsors de Mode, de Beauté, de Média, Partenaires Éducatifs, Partenaires Caritatifs, Partenaires Artistiques,  etc...
                </p>
            </div>
        </div>
    </div>
</div> 

<br><br>

<div class="container-fluid">
    <div class="row mt-3 mt-md-5">
        <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">  
             <div class="choose-img-border-after fables-second-border-color position-relative">
                  <img src="{% static 'images/global/maquillage.webp' %}" alt="" class="w-100">  
             </div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden"> 
            <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">Style Africain, <span class="fables-main-text-color">Créativité Sans Limite !</span></h2>
            <p class="fables-forth-text-color mt-4 mb-4">
                Plongez au cœur d'un marché vibrant, où les couleurs éclatantes et les traditions fascinantes de l'Afrique prennent vie. Découvrez une mosaïque enchanteresse d'artisanat, de mode, de gastronomie et d'art qui célèbre la richesse culturelle du continent africain. C'est une expérience immersive où l'authenticité et la créativité se rencontrent pour émerveiller vos sens et vous transporter dans un voyage inoubliable.
            </p>  
            <div class="row" > 
                <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow">
                    <div class="border p-3 p-md-4 text-center text-lg-left">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Visibilité et Opportunités de Réseau</h2>
                                <div class="font-15 fables-forth-text-color">
                                    Visibilité considérable aux créateurs de mode, aux professionnels de l'industrie et aux marques. Vous aurez l'opportunité de vous connecter avec d'autres acteurs clés de l'industrie, d'établir des relations professionnelles et de présenter votre travail à un public mondial.
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow" >
                   <div class="border p-3 p-md-4 text-center text-lg-left">
                        <div class="row">
                            <div class="col-12">
                               <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Inspiration et Créativité </h2>
                               <div class="font-15 fables-forth-text-color">
                                L'événement est une source inépuisable d'inspiration. Vous pourrez découvrir les dernières tendances de la mode africaine, rencontrer des designers innovants et explorer les textiles et les techniques traditionnelles. Cela peut stimuler votre créativité et vous aider à repousser les limites de votre propre travail.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow">
                   <div class="border p-3 p-md-4 text-center text-lg-left">
                        <div class="row">
                            <div class="col-12">
                               <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Accès à un Marché Diversifié</h2>
                                <div class="font-15 fables-forth-text-color">
                                    "Africa Fashion Week" attire un public diversifié, des amateurs de mode aux acheteurs internationaux. C'est une occasion exceptionnelle de présenter vos créations à un large éventail de consommateurs et de clients potentiels, ce qui peut stimuler vos ventes et votre notoriété.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow" >
                    <div class="border p-3 p-md-4 text-center text-lg-left">
                         <div class="row">
                             <div class="col-12">
                                <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Participation Culturelle et Artistique</h2>
                                <div class="font-15 fables-forth-text-color">
                                    L'événement célèbre la riche culture africaine à travers la mode, offrant une expérience immersive qui va au-delà des vêtements. Vous aurez l'occasion de participer à des événements culturels, d'explorer l'art africain, de déguster une cuisine authentique et de vivre une expérience artistique complète
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div><br><br>


{% include "../partials/boutique.html" %}

    <div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules" style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn" data-wow-duration="2s"> 
                        <h3 class=" white-color mb-3 font-25 font-weight-bold">Réservez votre Ticket !</h3> 
                        <p class="font-weight-light fables-third-text-color">
                            Vivez une expérience inoubliable aux événements Dream Team Africa !
                            Réservez dès maintenant pour ne pas manquer cette célébration extraordinaire de la culture africaine !
                        </p>
                        <a href="{% url "vitrineApp:billetterie" %}" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Réserver dès maintenant</a>   
                </div> 
            </div>
            
        </div>
    </div>

    
        <div class="fables-light-background-color py-3 py-md-4">
            <div class="container">
                <div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>

                 </div>  
            </div>
        </div>

{% endblock "body" %}