{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Dream Team Africa{% endblock "title" %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter index-traingle bg-rules" style="background-image: url({% static 'images/Afro-Beatz.jpg' %});">
    <div class="container">  
        <div class="row">
            <div class="col-md-10 mr-auto index-carousel">
                  <div class="owl-carousel owl-theme default-carousel nav-0 z-index mt-md-4 mt-xl-5 pt-md-4 pt-xl-5 dots-0 pb-md-5">
                      <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".4s">
                          <h5 class="fables-main-text-color font-weight-bold mb-1 fables-second-text-color">#FAP2023 </h5>  
                        <h1 class="font-weight-bold mb-1 fables-white-text-color">Quand la culture nous rassemble...</h1>  
                        <h1 class="font-weight-bold mb-1 fables-main-text-color">de partout ! </h1>  
                        <h1 class="font-weight-bold mb-1 fables-second-text-color">Du 14 au 16 Août 2023 </h1>  
                        
                        <br>
                          <a href="#events" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-3 px-md-4 py-2 bg-hover-transparent fables-second-hover-color">#Découvrez nos evenements</a>
                      </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<!-- /End Header -->
     


<div class="container" >
    <div class="row my-4 my-md-5" >
        <div class="col-12 col-md-10 offset-md-1  text-center">
                <h2 class="font-35 font-weight-bold fables-second-text-color subtitle">Nous sommes ...</h2>
                <h1 class="font-weight-bold fables-main-text-color display-3 title">Dream Team Africa</h1> 
                <br> <br> 
                <p class="fables-forth-text-color">
                    <b>Dream Team Africa</b> s'efforce de changer la perception souvent réductrice de l'Afrique en Europe en mettant en avant la riche tapisserie culturelle, artistique et humaine du continent.L'association ambitionne de briser les stéréotypes persistants que même l'histoire, telle que la Conférence de Berlin, a ancrés dans l'esprit européen.
                </p>
                </div>
                <br> <br> 

                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow zoomIn" data-wow-duration="0.2s"> 
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3"> 
                            <span class="fables-iconhead-set-light fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                            <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Événements culturels</h2>
                            <div class="font-15 fables-forth-text-color">
                                Mettant en lumière des aspects moins connus de l'Afrique, tels que sa littérature, son histoire, et son développement durable. 
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow zoomIn" data-wow-duration="0.2s">  
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3">
                            <span class="fables-iconscreen fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                           <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Ateliers Éducatifs</h2>
                           <div class="font-15 fables-forth-text-color">
                            Des programmes visant à éduquer les jeunes et les adultes sur la complexité et la diversité du continent.
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 mb-md-5 wow zoomIn" data-wow-duration="0.2s"> 
                    <div class="row text-center text-md-left">
                        <div class="col-12 col-md-3">
                            <span class="fables-iconfile fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-md-9 pl-md-0">
                           <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Partenariats</h2>
                            <div class="font-15 fables-forth-text-color">
                                Collaboration avec des institutions éducatives et culturelles pour renforcer les liens et créer un impact durable.

                            </div>
                        </div>
                    </div> 
                </div>
        </div> 
    </div>



    <div class="container-fluid">
        <div class="row mt-3 mt-md-5">
            <div class="col-12 col-lg-5 offset-lg-1 mb-4 overflow-hidden"> 
                <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft"> Devenir Partenaire <span class="fables-main-text-color"> de Dream Team Africa ?</span></h2>
                <p class="fables-forth-text-color mt-4 mb-4">
                    Le partenariat avec Dream Team Africa présente de multiples avantages qui peuvent transformer la manière dont votre entreprise opère et interagit sur le marché africain et mondial. Voici pourquoi il est judicieux de devenir partenaire
                </p>  

                <div class="container"> 
                    <div class="row mt-4 my-md-5 overflow-hidden">
                        <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow">
                            <div class="border p-3 p-md-4 text-center text-lg-left">
                                <div class="row">
                                    <div class="col-12 col-lg-3 text-center mb-3">
                                        <span class="fables-iconlamp-icon fables-second-text-color fa-3x"></span>
                                    </div>
                                    <div class="col-12 col-lg-9">
                                        <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Accès au Réseau Étendu</h2>
                                        <div class="font-15 fables-forth-text-color">
                                            Dream Team Africa possède un réseau étendu d'entrepreneurs, d'investisseurs et de professionnels dans divers secteurs. Ce réseau offre une excellente opportunité pour élargir votre clientèle et trouver des partenaires commerciaux potentiels.
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow" >
                           <div class="border p-3 p-md-4 text-center text-lg-left">
                                <div class="row">
                                    <div class="col-12 col-lg-3 text-center mb-3">
                                        <span class="fables-icongears-icon fables-second-text-color fa-3x"></span>
                                    </div>
                                    <div class="col-12 col-lg-9">
                                       <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Renforcement de la Marque</h2>
                                       <div class="font-15 fables-forth-text-color">
                                        S'associer avec une organisation respectée comme Dream Team Africa améliore la réputation de votre marque et renforce sa légitimité aux yeux des consommateurs
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow">
                           <div class="border p-3 p-md-4 text-center text-lg-left">
                                <div class="row">
                                    <div class="col-12 col-lg-3 text-center mb-3">
                                        <span class="fables-iconheadset-icon fables-second-text-color fa-3x"></span>
                                    </div>
                                    <div class="col-12 col-lg-9">
                                       <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Développement Durable</h2>
                                        <div class="font-15 fables-forth-text-color">
                                            Dream Team Africa a également un point d'honneur pour promouvoir le développement durable. Ce qui permet à votre entreprise de renforcer son engagement envers des pratiques commerciales éthiques et durables.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow" >
                            <div class="border p-3 p-md-4 text-center text-lg-left">
                                 <div class="row">
                                     <div class="col-12 col-lg-3 text-center mb-3">
                                         <span class="fables-icongears-icon fables-second-text-color fa-3x"></span>
                                     </div>
                                     <div class="col-12 col-lg-9">
                                        <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Expertise Locale </h2>
                                        <div class="font-15 fables-forth-text-color">
                                            Le partenariat vous donne accès aux informations et des analyses du marché local, ce qui est essentiel pour réussir sur le continent africain.
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow" >
                            <div class="border p-3 p-md-4 text-center text-lg-left">
                                 <div class="row">
                                     <div class="col-12 col-lg-3 text-center mb-3">
                                         <span class="fables-icongears-icon fables-second-text-color fa-3x"></span>
                                     </div>
                                     <div class="col-12 col-lg-9">
                                        <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Coopération interculturelle</h2>
                                        <div class="font-15 fables-forth-text-color">
                                            Comme évoqué dans des études sur le management interculturel, comprendre la diversité culturelle est cruciale pour le succès international. Dream Team Africa peut servir de pont entre différentes cultures et marchés.
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-12 col-sm-6 mb-4 mb-sm-3 wow">
                            <div class="border p-3 p-md-4 text-center text-lg-left">
                                 <div class="row">
                                     <div class="col-12 col-lg-3 text-center mb-3">
                                         <span class="fables-iconheadset-icon fables-second-text-color fa-3x"></span>
                                     </div>
                                     <div class="col-12 col-lg-9">
                                        <h2 class="fables-second-text-color font-20 semi-font mb-3 about-block-heading">Innovation et Créativité
                                        </h2>
                                         <div class="font-15 fables-forth-text-color">
                                            En collaborant avec Dream Team Africa, votre entreprise a l'opportunité de participer à des projets innovants et créatifs qui peuvent avoir un impact significatif.
Engagement Social : Un partenariat peut aussi être l'occasion de montrer l'engagement social de votre entreprise.
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    </div> 
                </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">  
                 <div class="choose-img-border-after fables-second-border-color position-relative">
                      <img src="{% static 'images/african-why.jpg' %}" alt="" class="w-100">  
                 </div>
            </div>
         </div>
    </div><br><br>


    <div class="fables-testimonial fables-after-overlay py-3 py-lg-5 bg-rules">
        <div class="container">
            <h2 class="position-relative z-index white-color font-35 font-weight-bold text-center mb-4">Avis de nos clients</h2> 
            <div class="owl-carousel owl-theme" id="fables-testimonial-carousel">
                <div class="row text-center fables-testimonial-carousel-item rounded py-4"> 
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template" class="fables-testimonial-carousel-img">  
                        <h3 class="font-14 semi-font text-white">Noémie Starlette</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative"> 
                            J'ai récemment participé à un événement organisé par Dream Team Africa, et j'ai été impressionné par leur professionnalisme et leur passion pour la culture africaine. Un véritable échange culturel !
                        </div>
                    </div>
                </div>                
                <div class="row text-center fables-testimonial-carousel-item rounded py-4"> 
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template" class="fables-testimonial-carousel-img">  
                        <h3 class="font-14 semi-font text-white">Franck Adja</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative"> 
                            Dream Team Africa fait un travail remarquable pour mettre en lumière les trésors du continent africain en Europe. J'ai hâte de voir leurs futurs événements pour 2024-2025 !
                        </div>
                    </div>
                </div>                
                <div class="row text-center fables-testimonial-carousel-item rounded py-4"> 
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template" class="fables-testimonial-carousel-img">  
                        <h3 class="font-14 semi-font text-white">Maïmouna Odilon</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative"> 
                            Grâce à Dream Team Africa, j'ai pu découvrir des aspects de l'Afrique que je ne connaissais pas, même en étant moi-même d'origine africaine. Une véritable fierté !
                        </div>
                    </div>
                </div>                
                <div class="row text-center fables-testimonial-carousel-item rounded py-4"> 
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template" class="fables-testimonial-carousel-img">  
                        <h3 class="font-14 semi-font text-white">Sophie Charlemann</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative"> 
                            Je recommande vivement les initiatives de Dream Team Africa. Elles sont non seulement bien organisées, mais également très accueillantes pour tous ceux qui s'intéressent à l'Afrique.
                        </div>
                    </div>
                </div>                
                <div class="row text-center fables-testimonial-carousel-item rounded py-4"> 
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template" class="fables-testimonial-carousel-img">  
                        <h3 class="font-14 semi-font text-white">Niouma Doumbiya</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative"> 
                            Chaque événement organisé par Dream Team Africa est une célébration de la diversité et de la richesse du continent africain. Bravo à cette association dynamique !
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>


    <br><br>

   <div class="container text-center" id="events">
    <div class="col-12 col-md-10 offset-md-1  text-center">
        <h2 class="font-35 font-weight-bold fables-second-text-color subtitle">Participez à nos Evènements ...</h2>
        <br>  <br>
        </div>

    <div class="row overflow-hidden mb-lg-5">

        <div class="col-12 col-md-6 mb-sm-5">
            <div class="owl-carousel owl-theme  default-carousel absolute-dots fables-second-dots nav-0">
                <div class="blog-grid-style"> 
                    <div class="image-container zoomIn-effect">
                        <a href="{% url "vitrineApp:mna" %}"><img src="{% static 'assets/custom/images/masonry2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                    
                    <div class="fables-blog-overlay text-white text-center pb-6"> 
                        <div class="text-white font-14">                                   
                            <span class="mr-3"> Un événement pour mettre en valeur l'artisanat africain.</span>
                        </div>
                        <h2 class="position-relative z-index"><a href="{% url "vitrineApp:mna" %}" class="font-18 semi-font pb-3 text-white border-bottom">Marché de Noël d'Afrique Paris</a></h2>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-sm-5">
            <div class="owl-carousel owl-theme  default-carousel absolute-dots fables-second-dots nav-0">
                <div class="blog-grid-style"> 
                    <div class="image-container zoomIn-effect">
                        <a href="{% url "vitrineApp:fica" %}"><img src="{% static 'assets/custom/images/masonry2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                    
                    <div class="fables-blog-overlay text-white text-center pb-6"> 
                        <div class="text-white font-14">                                   
                            <span class="mr-3">Une plateforme pour découvrir le cinéma africain et se connecter avec les acteurs du secteur</span>
                        </div>
                        <h2 class="position-relative z-index"><a href="{% url "vitrineApp:fica" %}" class="font-18 semi-font pb-3 text-white border-bottom">Festival International du Cinéma Africain</a></h2>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-sm-5">
            <div class="owl-carousel owl-theme  default-carousel absolute-dots fables-second-dots nav-0">
                <div class="blog-grid-style"> 
                    <div class="image-container zoomIn-effect">
                        <a href="{% url "vitrineApp:fap" %}"><img src="{% static 'assets/custom/images/masonry2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                    
                    <div class="fables-blog-overlay text-white text-center pb-6"> 
                        <div class="text-white font-14">                                   
                            <span class="mr-3">Un espace d'exposition qui met en avant produits, services et innovations africains</span>
                        </div>
                        <h2 class="position-relative z-index"><a href="{% url "vitrineApp:fap" %}" class="font-18 semi-font pb-3 text-white border-bottom">Foire d'Afrique de Paris</a></h2> 
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-sm-5">
            <div class="owl-carousel owl-theme  default-carousel absolute-dots fables-second-dots nav-0">
                <div class="blog-grid-style"> 
                    <div class="image-container zoomIn-effect">
                        <a href="{% url "vitrineApp:afc" %}"><img src="{% static 'assets/custom/images/masonry2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                    
                    <div class="fables-blog-overlay text-white text-center pb-6"> 
                        <div class="text-white font-14">                                   
                            <span class="mr-3"> Un festival consacré à la cuisine africaine</span>
                        </div>
                        <h2 class="position-relative z-index"><a href="{% url "vitrineApp:afc" %}" class="font-18 semi-font pb-3 text-white border-bottom">African Fashion Cook</a></h2> 
                    </div> 
                </div>
            </div>
        </div>


        <div class="col-12 col-md-4 mb-sm-5">
            <div class="owl-carousel owl-theme  default-carousel absolute-dots fables-second-dots nav-0">
                <div class="blog-grid-style"> 
                    <div class="image-container zoomIn-effect">
                        <a href="{% url "vitrineApp:danse" %}"><img src="{% static 'assets/custom/images/masonry2.jpg' %}" alt="" class="w-100"></a> 
                    </div>
                    
                    <div class="fables-blog-overlay text-white text-center pb-6"> 
                        <div class="text-white font-14">                                   
                            <span class="mr-3"> Festival des danses urbaines</span>
                        </div>
                        <h2 class="position-relative z-index"><a href="{% url "vitrineApp:danse" %}" class="font-18 semi-font pb-3 text-white border-bottom">Juste Une Danse</a></h2> 
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div> 




<div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules" style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn" data-wow-duration="2s"> 
                    <h3 class=" white-color mb-3 font-25 font-weight-bold">Montrez-vous au cœur des events de Dream Team Africa </h3> 
                    <p class="font-weight-light fables-third-text-color">
                        Découvrez une opportunité unique d'exposer vos produits et créations au cœur de la Foire Africaine de Paris, et rejoignez-nous pour une célébration culturelle inoubliable !
                    </p>
                    <a href="{% url "vitrineApp:billetterie" %}" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Aller à la billetterie</a>   
            </div> 
        </div>
        
    </div>
</div>
       


        <div class="fables-light-background-color py-3 py-md-4 py-lg-5">
            <div class="container">
                <div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="border-hover fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img src="{% static 'assets/custom/images/brand-4.jpg' %}" alt="Fables Template" class="fborder-hover ables-partner-carousel-img">  
                   </div>

                 </div>  
            </div>
        </div>

        
{% endblock "body" %}