{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}#FAP2023 - Programme{% endblock "title" %}
 
{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container"> 
         <h2 class="fables-page-title fables-second-border-color"><span class="fables-second-text-color">#FAP2023</span> Le programme</h2>
    </div>
</div>  
<!-- /End Header -->
     
<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container"> 
        <nav aria-label="breadcrumb" class="fables-counter">
    
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<div class="container">
    <div class="my-4 my-md-5 overflow-hidden">
       
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="1s">
            <h2 class="font-35 font-weight-bold fables-second-text-color subtitle ">Au programme de...</h2>
            <h1 class="font-weight-bold fables-main-text-color display-3 title">cette 1<sup><small>re</small></sup> édition</h1> 
        </div> 
            
        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="fables-about-icon-style"> 
                    <span class="fables-iconmobileApp-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Captivant</h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        #FAP2023 promet des spectacles, des démonstrations et des expositions captivantes qui émerveilleront plus d'un.
                    </div>

                </div>
            </div>  
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
               <div class="fables-about-icon-style">
                   <span class="fables-icondevelopment-icon fables-second-text-color fa-3x"></span>
                   <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Enrichissant</h2>
                   <span class="fables-title-border fables-second-background-color"></span>
                   <div class="fables-forth-text-color mt-3 font-14">
                    Découvrez un programme riche en conférences, ateliers et débats qui vous permettront d'approfondir leur compréhension de la culture africaine et des enjeux du continent.
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
               <div class="fables-about-icon-style"> 
                    <span class="fables-iconwebDesign-icon fables-second-text-color fa-3x"></span>
                   <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Inoubliable </h2>
                   <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        Des expériences uniques et mémorables qui resteront gravées dans les souvenirs des visiteurs pour toujours.
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- Start page content -->  


<div class="fables-history-section mb-4 mb-md-5">
    <div class="container">
         <div class="fables-history-carousel">  
                 <div id="sync2" class="owl-carousel owl-theme">
                   <div class="item">
                     <h1>jour 1</h1>
                   </div>
                   <div class="item">
                     <h1>Jour 2</h1>
                   </div>
                   <div class="item">
                     <h1>Jour 3</h1>
                   </div> 
                </div>
                 <div id="sync1" class="owl-carousel owl-theme">
                       <div class="item">
                            <div class="fables-about-head-style">
                                <div class="row wow fadeInDown" data-wow-delay=".5s">
                                    <div class="col-12 text-center">
                                        <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Company History</h2> 
                                        <div class="col-12 col-md-10 offset-md-1">
                                            <p class="fables-forth-text-color mt-3 mb-4 mb-md-5">
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many.
                                            </p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                       </div>
                       <div class="item"> 
                            <div class="row">
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                            </div> 
                       </div>
                       <div class="item"> 
                            <div class="row">
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4 mb-md-0">
                                    <div class="card">
                                       <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                       <div class="card-body">
                                         <h5 class="card-title fables-second-text-color">2012</h5>
                                         <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p> 
                                       </div>
                                     </div>
                                </div>
                            </div> 
                       </div> 
                       
                 </div>
         </div>
    </div>
</div>








<div class="container">   
    <div id="cd-timeline" class="blog-timeline">
       <span class="fables-second-background-color line"></span>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline1.jpg' %}" alt="" ></a>
                      </div>
                      
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0">

                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div> 
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline2.jpg' %}" alt="" ></a>
                      </div>
                      
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0"> 
                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline3.jpg' %}" alt="" ></a>
                      </div>
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0"> 
                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline4.jpg' %}" alt="" ></a>
                      </div>
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0"> 
                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4">
                <div class="fables-blog-cat-block">
                  <div class="row">
                      <div class="col-12 col-lg-5">
                          <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline5.jpg' %}" alt="" ></a>
                      </div>
                      </div>
                      <div class="col-12 col-lg-7 mt-3 mt-lg-0"> 
                          <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                          <p class="fables-forth-text-color mb-2">
                              When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                          </p>
                          <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                      </div>
                  </div>
              </div>
            </div>   
        </div>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline6.jpg' %}" alt="" ></a>
                      </div>
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0"> 
                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div>
        <div class="cd-timeline-block"> 
           <div class="cd-timeline-img fables-second-background-color"></div>   
           <span class="cd-date fables-light-background-color fables-fifth-text-color">December 1, 2018</span>
            <div class="cd-timeline-content mb-4"> 
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <div class="image-container translate-effect-right">
                          <a href="#"><img src="{% static 'assets/custom/images/timeline7.jpg' %}" alt="" ></a>
                      </div>
                  </div>
                  <div class="col-12 col-lg-7 mt-3 mt-lg-0">

                      <h2 class="font-22 semi-font mb-2"><a href="#" class="fables-main-text-color fables-second-hover-color">Getting to Another Level of Design</a></h2> 
                      <p class="fables-forth-text-color mb-2">
                          When you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality. the choices are versatile Assuming that you will goWhen you need your company to have a new  website or if you venture on updating your old webpage with a new look and functionality.
                      </p>
                      <a href="" class="fables-main-text-color p-0 underline fables-second-hover-color font-15">Read More</a> 
                  </div>
              </div> 
            </div>   
        </div>

   </div>
   <div class="text-center my-5">
        <a href="" class="btn fables-second-background-color white-color fables-main-hover-background-color px-5 py-2 white-color-hover">Load More</a>
   </div> 
</div>  
<!-- /End page content -->
{% endblock "body" %}